.navbar{
  background-color: black;
}
 .navbar .h2{
    color: white;
  }
.display {
  margin-top: 150px;
}

.btns {

  max-width:370px;
}

.decrease {
  margin-right: 20px;
  width: 50px;
}

.increase {
  width: 50px;
}

#start_btn,
#pause_btn {
  margin-right: 5px;
}
.contorls{
  width:100px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 51px;
  background-color: black;
  color:white;
}
